/* Table description */
.tablepress-table-description {
	clear: both;
	display: block;
}

.tablepress {
	border-collapse: collapse;
	border-spacing: 0;
	text-align: left;
}

.tablepress th,
.tablepress td {
	padding: 8px;
}

.tablepress th {
	font-weight: bold;
}

/* Vertical lines / borders */
.tablepress tbody tr,
.tablepress tfoot tr {
    border-top: 1px solid #dddddd;
}
.tablepress tbody tr:first-child {
	border-top: 0;
}
.tablepress thead tr {
    border-bottom: 1px solid #dddddd;
}

/* Row background colors */
.tablepress thead tr,
.tablepress tfoot tr {
	background-color: #d9edf7;
}
.tablepress tbody tr.odd { background-color: #f9f9f9; }
.tablepress tbody tr.even { background-color: #ffffff; }

.tablepress .row-hover tr:hover {
	background-color: #f3f3f3;
}

/* Table wrapper */
.dataTables_wrapper {
	position: relative;
	clear: both;
	*zoom: 1;
}
.dataTables_wrapper .tablepress {
	width: 100%;
	clear: both;
}

/* Length Change menu */
.dataTables_length {
	float: left;
}

/* Filter/Search */
.dataTables_filter {
	float: right;
	text-align: right;
}

/* Table information */
.dataTables_info {
	clear: both;
	float: left;
}

/* Pagination */
.dataTables_paginate {
	float: right;
	text-align: right;
}
/* Two button pagination - previous/next */
.paginate_disabled_previous,
.paginate_enabled_previous,
.paginate_disabled_next,
.paginate_enabled_next {
	float: left;
	cursor: pointer;
	*cursor: hand;
	color: #111111 !important;
}
.paginate_disabled_previous:hover,
.paginate_enabled_previous:hover,
.paginate_disabled_next:hover,
.paginate_enabled_next:hover {
	text-decoration: none !important;
}
.paginate_disabled_previous:active,
.paginate_enabled_previous:active,
.paginate_disabled_next:active,
.paginate_enabled_next:active {
	outline: none;
}
.paginate_disabled_previous,
.paginate_disabled_next {
	color: #666666 !important;
}
.paginate_disabled_previous,
.paginate_enabled_previous {
	padding-left: 23px;
}
.paginate_disabled_next,
.paginate_enabled_next {
	padding-right: 23px;
	margin-left: 10px;
}
.paginate_enabled_previous { background: url('../img/back_enabled.png') no-repeat center left; }
.paginate_enabled_previous:hover { background: url('../img/back_enabled_hover.png') no-repeat center left; }
.paginate_disabled_previous { background: url('../img/back_disabled.png') no-repeat center left; }
/* hover */
.paginate_enabled_next { background: url('../img/forward_enabled.png') no-repeat center right; }
.paginate_enabled_next:hover { background: url('../img/forward_enabled_hover.png') no-repeat center right; }
.paginate_disabled_next { background: url('../img/forward_disabled.png') no-repeat center right; }

/* Full number pagination */
.paging_full_numbers {
	height: 22px;
	line-height: 22px;
}
.paging_full_numbers a:active { outline: none; }
.paging_full_numbers a:hover { text-decoration: none; }

.paging_full_numbers a.paginate_button,
.paging_full_numbers a.paginate_active {
	border: 1px solid #aaaaaa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 2px 5px;
	margin: 0 3px;
	cursor: pointer;
	*cursor: hand;
	color: #333333 !important;
}
.paging_full_numbers a.paginate_button {
	background-color: #dddddd;
}
.paging_full_numbers a.paginate_button:hover {
	background-color: #cccccc;
	text-decoration: none !important;
}
.paging_full_numbers a.paginate_active {
	background-color: #99b3ff;
}

/* Processing indicator */
.dataTables_processing {
	display: none; /* always hidden, we don't really need it */
/*	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 30px;
	margin-left: -125px;
	margin-top: -15px;
	padding: 14px 0 2px 0;
	border: 1px solid #ddd;
	text-align: center;
	color: #999;
	font-size: 14px;
	background-color: white;
*/
}

/* Scrolling */
.dataTables_scroll {
	clear: both;
}
.dataTables_scrollBody {
	*margin-top: -1px;
	-webkit-overflow-scrolling: touch;
}

/* Sorting */
.dataTables_wrapper .sorting,
.dataTables_wrapper .sorting_asc,
.dataTables_wrapper .sorting_desc {
	padding: 8px 18px 8px 8px; /* more right padding for sort arrows */
	cursor: pointer;
	*cursor: hand;
}
.dataTables_wrapper .sorting { background: url('../img/both.gif') no-repeat center right; }
.dataTables_wrapper .sorting:hover { background-color: #049cdb; }
.dataTables_wrapper .sorting_asc { background: #049cdb url('../img/asc.gif') no-repeat center right; }
.dataTables_wrapper .sorting_desc { background: #049cdb url('../img/desc.gif') no-repeat center right; }

.dataTables_wrapper .sorting_asc_disabled { background: url('../img/sort_asc_disabled.png') no-repeat center right; }
.dataTables_wrapper .sorting_desc_disabled { background: url('../img/sort_desc_disabled.png') no-repeat center right; }

.dataTables_wrapper th:active { outline: none; }

/* RTL languages */
.tablepress-rtl {
	direction: rtl;
	text-align: right;
}
.dataTables_wrapper .tablepress-rtl .sorting,
.dataTables_wrapper .tablepress-rtl .sorting_asc,
.dataTables_wrapper .tablepress-rtl .sorting_desc {
	background-position: left !important;
	padding: 8px 8px 8px 18px; /* more left padding for sort arrows */
}