# Ignore file for the eslint JS linting/formatting of @wordpress/scripts.

# Ignore external libraries.
/libraries/composer/
/libraries/freemius/
/libraries/vendor/
/node_modules/
/vendor/

# Ignore minified files.
/admin/js/build/
/blocks/**/build/

# Ignore external scripts.
/admin/js/jspreadsheet.js
/admin/js/jsuites.js
/js/jquery.datatables.min.js
