# Set images and text to desired line ends

# Set default behaviour, in case users don't have core.autocrlf set.
* text=auto

# Explicitly declare text files we want to always be normalized and converted
# to native line endings on checkout.
*.php text
*.md text
*.js text
*.json text
*.css text
*.yml text
*.xml.dist text

# Explicitly set CRLF for tablepress.php, *.txt files, and DataTables *.json files
# to make them easily readable and editable for Windows users
tablepress.php text eol=crlf
*.txt text eol=crlf
i18n/datatables/*.json text eol=crlf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.gif binary
