# Ignore file for the Prettier JS linting/formatting of @wordpress/scripts.

# Ignore external libraries.
/node_modules/
/vendor/
/libraries/vendor/
/libraries/composer/
/freemius/

# Ignore minified files.
/admin/js/build/
/blocks/**/build/

# Ignore external scripts.
/js/jquery.datatables.min.js
/admin/js/jspreadsheet.js
/admin/js/jsuites.js

# Ignore YAML files.
*.yml
