parameters:
	level: 8
	paths:
		- classes/
		- controllers/
		- libraries/csv-parser.class.php
		- libraries/evalmath.class.php
		- libraries/html-parser.class.php
		- models/
		- views/
		- tablepress.php
	scanDirectories:
		- libraries/
	bootstrapFiles:
		- .phpstan/symbols.php
	dynamicConstantNames:
		- TABLEPRESS_IS_PLAYGROUND_PREVIEW
	earlyTerminatingMethodCalls:
		TablePress:
			- redirect
	ignoreErrors:
		# The `TablePress_View` and its extended classes must not have a return type, for BC reasons.
		- '#^Method TablePress_[a-zA-Z_]*View\:\:setup\(\) has no return type specified\.$#'
		# Ignore errors caused by the ambiguous `object` return type declaration of the `TablePress::load_class()` method.
		- '#^Call to an undefined method object\:\:[a-z_]+\(\)\.$#'
		- '#^Access to an undefined property object\:\:\$[a-z_]+\.$#'
		- '#^Static property TablePress[a-zA-Z_]*\:\:\$[a-z_]+ \(TablePress_[a-zA-Z_]+\) does not accept object\.$#'
		- '#^Property TablePress[a-zA-Z_]+\:\:\$[a-z_]+ \([a-zA-Z_]+\) does not accept object\.$#'
		# Ignore warnings around calling PHPSpreadsheet methods. These should only fail if a spreadsheet object is damaged or incomplete.
		-
			message: '#^Cannot call method [a-zA-Z]+\(\) on TablePress\\PhpOffice\\PhpSpreadsheet\\(Cell|Style)\\(Cell|Font)\|null\.$#'
			identifier: method.nonObject
			paths:
				- classes/class-evaluate-phpspreadsheet.php
				- classes/class-import-phpspreadsheet.php
	WPCompat:
		requiresAtLeast: '6.2'
includes:
	- phar://phpstan.phar/conf/bleedingEdge.neon
	- vendor/szepeviktor/phpstan-wordpress/extension.neon
	- vendor/johnbillion/wp-compat/extension.neon
