/**
 *
 *
 * @since 1.0.0
 */

#icon-tablepress {
	background: transparent url( 'tablepress-icon.png' ) no-repeat;
}

/*
#tablepress-page #poststuff {
	padding-top: 0px;
}
*/

/* Nav Tab Menu */
#tablepress-nav .separator {
	margin: 6px;
}
#tablepress-nav .nav-tab {
	color: #21759b;
}
#tablepress-nav .nav-tab:hover {
	color: #d54e21;
}
#tablepress-nav .nav-tab-active {
	padding-bottom: 5px;
	text-shadow: 1px 1px 1px #ffffff;
	color: #333333;
}
#tablepress-nav .nav-tab-active:hover {
	color: #464646;
}

/* Add New Table form */
#tablepress-page .form-wrap {
	width: 500px;
}

/* "Description" textarea on the "Add" screen */
#tablepress-page .form-field-small {
	float: left;
	width: 150px;
	margin-right: 20px;
}

/* placeholder fields in gray text color */
#tablepress-page .placeholder-active {
	color: #bbbbbb;
}

/* width and font weight of the ID column on the "All Tables" screen */
#tablepress-all-tables thead .table-id {
	width: 50px;
}
#tablepress-all-tables tbody .table-id {
	font-weight: bold;
}

/* remove outlines from all textareas */
#tablepress-page textarea:focus {
	outline: none;
}