/**
 *
 *
 * @since 1.0.0
 */

#icon-tablepress {
	background: transparent url( 'tablepress-icon.png' ) no-repeat;
}

/*
#tablepress-page #poststuff {
	padding-top: 0px;
}
*/

/* Nav Tab Menu */
#tablepress-nav .separator {
	margin: 6px;
}
#tablepress-nav .nav-tab {
	color: #21759b;
}
#tablepress-nav .nav-tab:hover {
	color: #d54e21;
}
#tablepress-nav .nav-tab-active {
	padding-bottom: 5px;
	text-shadow: 1px 1px 1px #ffffff;
	color: #333333;
}
#tablepress-nav .nav-tab-active:hover {
	color: #464646;
}

/* Add New Table form */
#tablepress-page .form-wrap {
	max-width: 500px;
}

#tablepress_add-add-table .form-field {
	margin: 10px 0;
	padding: 0;
}

/* "Description" textarea on the "Add" screen */
#tablepress-page .form-field-small {
	float: left;
	width: 150px;
	margin-right: 20px;
}

/* placeholder fields in gray text color, but only if JS is enabled */
.js #tablepress-page .placeholder-active {
	color: #bbbbbb;
}

/* width and font weight of the ID column on the "All Tables" screen */
.tablepress-all-tables thead .column-table_id {
	width: 50px;
}
.tablepress-all-tables tbody .column-table_id {
	font-weight: bold;
}
/* width of the Table Name column */
.tablepress-all-tables thead .column-table_name {
	width: 25%;
}
/* width of the Author and Last Modified columns */
.tablepress-all-tables thead .column-table_author {
	width: 12%;
}
.tablepress-all-tables thead .column-table_last_modified {
	width: 15%;
}
.tablenav #bulk-action-top,
.tablenav #bulk-action-bottom {
	width: 130px;
}

/* Search results for WP_List_Table */
#tablepress-page .subtitle {
	float: left;
	padding-left: 0px;
}

/* remove outlines from all textareas */
#tablepress-page textarea {
	outline: none;
}

/* inline Shortcodes, in texts */
#tablepress-page .table-shortcode-inline {
	background: transparent;
	border: none;
	color: #333333;
	width: 90px;
	margin: 0;
	padding: 0;
	font-weight: bold;
}

#tablepress-page .table-shortcode {
	cursor: text;
}

/* fix non-JS styling of Post Boxes (might be able to remove this in future versions of WP) */
.no-js .postbox:hover .handlediv {
	background-image: none !important;
	cursor: auto;
}
.no-js .postbox .hndle {
	cursor: auto;
	color: #464646;
}

/* red border for form fields that have invalid values */
#tablepress-page form :invalid {
	border-color: #cc0000 !important;
}