/**
 * CSS code for the Premium features display on the "Edit" screen
 *
 * @package TablePress
 * @subpackage Views CSS
 * @author Tobias Bäthge
 * @since 2.1.0
 */

#tablepress-page .premium-features {
	display: none;

	$feature-box-width: 400px;

	@media screen and (min-width: 783px) {
		display: block;
		position: absolute;
		right: -$feature-box-width;
		width: calc($feature-box-width - 24px);
		height: calc(100% + 42px);
		bottom: 0;
		margin: 0;

		@at-root #tablepress_edit-table-information {
			width: calc(100% - $feature-box-width);
		}

		.rtl & {
			left: -$feature-box-width;
			right: auto;
		}

		> div {
			display: flex;
			flex-direction: column;
			height: 100%;
			justify-content: space-between;
			text-align: center;
		}

		.postbox-header {
			border-bottom: none;
		}

		h2 {
			color: #ff5100;
			font-weight: 700;
			font-size: 19px;
			width: 100%;
			padding-top: 14px;

			.dashicons {
				width: 26px;
				font-size: 26px;
				color: #ffd166;
			}
		}

		h3 a {
			color: #000000;
			text-decoration: none;
		}

		.inside {
			font-size: 14px;
			padding-bottom: 0;
		}

		.buttons {
			margin-bottom: 10px;
		}
	}
}
