/**
 * CSS code for the Freemius Pricing Page.
 *
 * @package TablePress
 * @subpackage Views CSS
 * @author Tobias Bäthge
 * @since 3.1.0
 */

#fs_pricing_app {
	--fs-ds-theme-primary-accent-color: #16a34a;
	--fs-ds-theme-primary-accent-color-hover: #0f6937;
	--fs-ds-theme-button-primary-background-hover-color: #0f6937;
	--fs-ds-theme-button-primary-border-color: #0f6937;
	--fs-ds-theme-package-popular-background: #ffd166;
	--fs-ds-theme-text-color: #052e16;
	--fs-ds-theme-heading-text-color: #052e16;
	--fs-ds-theme-background-shade: #e8f5e9;

	background-color: #ffffff;

	@keyframes bounce_ajaxLoader {
		0% {
			background-color: #16a34a;
			transform: scale(1);
		}

		to {
			background-color: #fff;
			transform: scale(0.3);
		}
	}

	.fs-packages-tab,
	.fs-section--packages .fs-packages-nav.fs-has-next-plan:after,
	.fs-package.fs-free-plan,
	.fs-selected-pricing-amount-fraction,
	.fs-section--currencies {
		display: none !important;
	}

	.fs-app-header .fs-plugin-title-and-logo {
		border: none;
	}

	.fs-packages {
		width: 80% !important;
		min-width: 590px;
		max-width: 860px;

		.fs-package {
			width: 50% !important;
		}
	}

	.fs-section--packages .fs-packages-nav {
		width: 100% !important;
	}

	.fs-package .fs-plan-description {
		text-transform: none;
		text-wrap: balance;
		padding: 0 20px;
	}
}
